<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcommerceShop"
        tools:targetApi="31">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnfF4VrI9WBsiJPDrPqbwsYAdX5WedDQQ"></meta-data>
        <activity
            android:name=".chat.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".qui.shop.AllFilterProductActivity"
            android:exported="false" />
        <activity
            android:name=".qui.payment.OrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".qui.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".qui.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".tinh.Activity.SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".tinh.Activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".chat.MainChatActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatScreenActivity"
            android:exported="false" />
        <activity
            android:name=".tinh.Activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".tinh.Activity.InputInfoActivity"
            android:exported="false" />
        <activity
            android:name=".tinh.Activity.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tinh.Activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.EcommerceShop.NoActionBar" />
        <activity
            android:name=".Phat.Activity.ImageAdsShopActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.UpdateVoucherShopActivity"
            android:exported="false" />
        <activity
            android:name=".MainShopActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Phat.Activity.AddVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".qui.product_detail.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".qui.shop.ShopActivityCustomer"
            android:exported="false" />
        <activity
            android:name=".MainUserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".nhan.ProfileCustomer.orders.UserOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.favourite_products.FavouriteProductsActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.addresses.UserAddressActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.addresses.edit_new_address.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.addresses.edit_new_address.choose_address.ChooseAddressActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.favourite_shops.FavouriteShopsActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.RequestToShopActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.SuccessRegisActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.RegistrationToShopInAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.ProfileSettingShopActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.OrderDetailShopActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.StatiscalShopActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.UpdateProductShopActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.ReviewShopActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.ReviewDetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".Phat.Activity.ResponseRVActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.orders.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.orders.history_orders.review.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.edit_user_info.EditUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.vouchers.VoucherCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".nhan.ProfileCustomer.addresses.edit_new_address.choose_address.choose_location_gg_map.GoogleMapLocationActivity"
            android:exported="false" />
    </application>

</manifest>